<%= form_with model: @blog_post do |form| %>
    <% if form.object.errors.any? %> 
        <div>
            <% form.object.errors.full_messages.each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>
    <% end %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title,  class: "border-2 border-black rounded px-3 py-2 w-full" %>
    </div>

    <div>
        <%= form.label :body %>
        <%= form.text_area :body, class: "border-2 border-black rounded px-3 py-2 w-full" %>
    </div>

    <%= form.button %>
<%end%>